*{	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}


/* inicio formatacao cabecalho */
.cabecalho {
	background-color: #f7b600;
	padding: 40px;
	text-align: center;
}

.logo {
	padding: 15px;
	font-size: 1.5em;
}

h1 {color: #4e4e4e}
h2 {color: #f7b600}
h3 {color: #4e4e4e; background-color: #CCC; padding: 15px; text-align: center; font-size: 1.5em;}

a{text-decoration: none;}
a:link, a:visited {color: #f7b600}
a:hover {text-decoration: underline;}

.links-menu {
	padding: 5px;
	font-size: 1.2em;
}

.links-menu a:link {color: white; padding: 18px; text-decoration: none;}
.links-menu a:visited {color: white; padding: 18px; text-decoration: none;}
.links-menu a:hover {color: #f7b600; background-color: white; text-decoration: underline; text-decoration: none;}



.links-jogos a:link {padding: 5px; text-decoration: none; color: black; line-height: 1.5em;}
.links-jogos a:visited {padding: 5px; text-decoration: none; color: black; line-height: 1.5em;}
.links-jogos a:hover {text-decoration: underline; color: black; line-height: 1.5em;}

.branco {color: white;}

/* fim formatacao cabecalho */

/* inicio formatacao pagina principal */

.pagina-principal {	
	width: 960px;
	padding: 5px;
	margin: auto;}

.noticias {	
	padding: 5px;
	width: 650px;	
	float: left;}

.postagem { 
	background: white;
	padding: 20px; 
	margin-bottom: 20px;}

.texto-postagem {margin: 15px 0;}

.barra-lateral{	
	padding: 5px;
	width: 270px;
	float: right;}

.data-postagem {
	font-size: .9em;
	margin-bottom: 10px;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	display: block;}

.rodape {
	clear: both;
	padding: 15px;
	text-align: center;
	background: #ccc;
	font-size: 1.2em;}

.conteudo-lateral {
	background-color: white;
	padding: 10px;}

.jogos{
	border: inset 3px gray;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	width: 156px;
	height: 350px;
	float: left;
}

.opcoes-jogos {
	border: inset 3px gray;
	border-radius: 10px;
	background: #F0E0E1;
	margin: auto;
	padding: 1px;
	width: 150px;
	height: 320px;
	float: left;
	position: relative;
	left: 0;
	top: 8px;
}

#vermelho { background-color: #AC0D19; }
#laranja { background-color: #DC5D00; }
#azul { background-color:#2193B0; }
#amarelo { background-color: #DDB100; }
#verde { background-color: #05531F; }

